## Pandas 的 Series数据类型

In [35]:
import pandas as pd
data = pd.read_excel("data_excel.xlsx")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
id       10 non-null int64
age      10 non-null int64
place    10 non-null int64
dtypes: int64(3)
memory usage: 368.0 bytes

In [17]:
type(data)

pandas.core.frame.DataFrame

In [18]:
type(data["id"])

pandas.core.series.Series

In [19]:
data["id"]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: id, dtype: int64

In [20]:
data["id"][0]

1

In [ ]:
my_list=[1,2,3,4]
my_list[0]

## 自己声明一个Series

In [8]:
obj = pd.Series(my_list)
obj

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj.values

array([1, 2, 3, 4])

In [11]:
obj = pd.Series(["a","b","c","d","e"], index=[1,2,3,4,5])
obj

1    a
2    b
3    c
4    d
5    e
dtype: object

In [13]:
data = {
    "a":[100,1,2,3],
    "b":200,
    "c":300
}
obj = pd.Series(data)
obj

a    [100, 1, 2, 3]
b               200
c               300
dtype: object

In [14]:
obj["a"]

[100, 1, 2, 3]

## 数据处理
- 我们在处理的时候，一般也都是一列一列的数据进行处理

### 缺失值处理

In [27]:
data = {
    "a":None,
    "b":200,
    "c":300
}
obj = pd.Series(data)
obj

a      NaN
b    200.0
c    300.0
dtype: float64

In [28]:
pd.isnull(obj)

a     True
b    False
c    False
dtype: bool

In [29]:
obj.isnull()

a     True
b    False
c    False
dtype: bool

In [30]:
obj.notnull()

a    False
b     True
c     True
dtype: bool

### 算数运算和数据对齐

In [33]:
d1=pd.Series([1.3,1.5,2.6,-3.2], index=['a','b','c','d'])
d2=pd.Series([-1.5,-1.2,-2.0,3.2,4.5], index=['a','b','c','d','e'])

In [34]:
d1+d2

a   -0.2
b    0.3
c    0.6
d    0.0
e    NaN
dtype: float64

In [36]:
## 补充知识：Pandas如何读取大数据量文件
pd.read_csv("executive.csv", nrows=5)
# 与head的区别是，使用head是显示结果的前多少条，而使用nrows参数是只读前几行

  name:ID sex  age  :LABEL
0     谢永林   男   50  people
1     胡跃飞   男   56  people
2      刘勇   男   49  people
3     朱季成   男   37  people
4     张丕杰   男   57  people

In [44]:
data = pd.read_csv("executive.csv", chunksize=100)
data

In [38]:
for d in data:
    print(d)

   name:ID sex  age  :LABEL
0      谢永林   男   50  people
1      胡跃飞   男   56  people
2       刘勇   男   49  people
3      朱季成   男   37  people
4      张丕杰   男   57  people
..     ...  ..  ...     ...
95      艾萍   女   39  people
96      张旸   男   39  people
97     于洪涛   男   51  people
98      梁旭   男   55  people
99     梁健锋   男   53  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
100      林萌   男   52  people
101     雷菊芳   女   65  people
102     邓淑芬   女   54  people
103     陈劲松   男   54  people
104     黄伟中   男   50  people
..      ...  ..  ...     ...
195     钱震斌   男   59  people
196     杨振华   男   54  people
197      周中   男   51  people
198      张曦   男   44  people
199     符冠华   男   55  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
200     黄国宏   男   49  people
201      高波   男   44  people
202     罗叶兰   女   41  people
203      张兵   男   47  people
204     王军华   男   57  people
..      ...  ..  ...     ...
295     梁永岑   男   50  people
296     王万强   男   41  people
297     刘继彬   男   54  people
298     田鲁炜   男   50  people
299     王勇峰   男   48  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
300     马全胜   男   54  people
301     杨学平   男   53  people
302     王玉锁   男   54  people
303     洪海山   男   57  people
304     徐永模   男   62  people
..      ...  ..  ...     ...
395     柯生灿   男   35  people
396     董凤亮   男   46  people
397      王臻   女   38  people
398     李建勇   男   62  people
399     俞敏亮   男   61  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
400     徐永模   男   62  people
401     李晋昭   男   56  people
402      徐千   男   56  people
403     邵晓明   男   60  people
404     陶云鹏   男   48  people
..      ...  ..  ...     ...
495     林建华   男   56  people
496     章沈强   男   51  people
497     钱高法   男   69  people
498      高勇   男   51  people
499     余亦坤   男   32  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
500     吴娜妮   女   44  people
501     徐应超   男   36  people
502      蓝地   男   42  people
503     胡伟民   男   56  people
504     钱菊平   男   40  people
..      ...  ..  ...     ...
595     郑洪霞   女   47  people
596     曾文光   男   50  people
597     邵明海   男   52  people
598     田云飞   男   38  people
599     高政权   男   50  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
600     倪永培   男   66  people
601     许芸霞   女   29  people
602     张璞临   男   53  people
603     陈德康   男   67  people
604     杨卫新   男   50  people
..      ...  ..  ...     ...
695      曾劲   男   48  people
696     陈进行   男   62  people
697     姜仁锋   男   54  people
698     陈慕华   女   96  people
699     刘明东   男   48  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
700     李开国   男   56  people
701     程方方   男   56  people
702     田国立   男   58  people
703     张轩松   男   47  people
704      王欣   男   57  people
..      ...  ..  ...     ...
795     余德辉   男   58  people
796     钱文龙   男   65  people
797     林岱仁   男   60  people
798     张兆祥   男   55  people
799     赵淑文   女   50  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
800     王春民   男   59  people
801      左敏   男   57  people
802     卢东亮   男   45  people
803     缪进义   男   53  people
804     贺江川   男   53  people
..      ...  ..  ...     ...
895     彭富庆   男   52  people
896     陈念慈   男   67  people
897      王露   男   38  people
898     丁尔民   男   53  people
899     蔡剑江   男   54  people

[100 rows x 4 columns]
    name:ID sex  age  :LABEL
900     周黎明   男   54  people
901      赵刚   男   50  people
902     汪立平   男   52  people
903      丁吉   男   45  people
904     龚曙光   男   59  people
..      ...  ..  ...     ...
995     李全文   男   54  people
996      李刚   男   37  people
997     李高生   男   48  people
998      黄欣   男   56  people
999     李俊喜   男   53  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1000     邵文林   男   50  people
1001     夏之云   男   56  people
1002     李生希   男   54  people
1003     单志鹏   男   52  people
1004      罗磊   男   51  people
...      ...  ..  ...     ...
1095     郭小军   男   35  people
1096     尚珊萍   女   54  people
1097     程小平   男   56  people
1098     袁国华   男   52  people
1099     刘悉承   男   56  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1100     丁洁民   男   61  people
1101     田玉龙   男   49  people
1102      陈璞   男   55  people
1103      俞锋   男   46  people
1104     林建民   男   57  people
...      ...  ..  ...     ...
1195     颜骏廷   男   55  people
1196      刘实   男   54  people
1197     王仲会   男   55  people
1198     韩铁林   男   60  people
1199      曲奎   男   52  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1200     刘卫国   男   55  people
1201      王飚   男   50  people
1202     夏文勇   男   46  people
1203     朱文臣   男   52  people
1204     王启瑞   男   53  people
...      ...  ..  ...     ...
1295     马建斌   男   43  people
1296      何谦   男   51  people
1297      刘伟   男   53  people
1298     王虎勇   男   49  people
1299     王毅坤   男   46  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1300     迟英利   女   53  people
1301     陈孟钊   男   41  people
1302     王晓光   男   62  people
1303      印涛   男   41  people
1304      李勇   男   55  people
...      ...  ..  ...     ...
1395     朱戟敏   男   55  people
1396     是飞舟   男   50  people
1397     刘体斌   男   55  people
1398     张红伟   男   46  people
1399     宫平强   男   36  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1400      全凯   男   55  people
1401     虞建红   男   52  people
1402     赵振元   男   63  people
1403     左洪波   男   53  people
1404     俞向前   男   51  people
...      ...  ..  ...     ...
1495      杨帆   女   39  people
1496     曹际东   男   46  people
1497     孙潇桐   男   36  people
1498     张涛涛   男   38  people
1499      冯斌   男   46  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1500     石力华   男   62  people
1501     杨国平   男   62  people
1502     党悦栋   男   38  people
1503     刘鹏程   男   51  people
1504     雷升逵   男   52  people
...      ...  ..  ...     ...
1595     刘彦龙   男   53  people
1596      王民   男   54  people
1597      肖伟   男   59  people
1598      张琲   男   46  people
1599      薛桓   男   51  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1600      夏宁   男   50  people
1601      吴隼   男   51  people
1602      张鹏   男   45  people
1603     杨光浩   男   46  people
1604     黄长庚   男   53  people
...      ...  ..  ...     ...
1695     张朝宏   男   49  people
1696     陈澄清   男   72  people
1697     何纪武   男   54  people
1698     程晓曦   男   58  people
1699      边程   男   54  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1700     吕卫平   男   56  people
1701     孙成余   男   47  people
1702     孙关富   男   53  people
1703     孔炯刚   男   45  people
1704     李常春   男   66  people
...      ...  ..  ...     ...
1795     刘清涛   男   49  people
1796     王春生   男   54  people
1797     王风斌   男   54  people
1798     郑宗强   男   49  people
1799      吴琼   男   51  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1800     吴同性   男   54  people
1801      邱新   男   44  people
1802     刘连红   女   52  people
1803      孙启   男   54  people
1804     周建平   男   58  people
...      ...  ..  ...     ...
1895      陈江   男   56  people
1896     张兴起   男   47  people
1897     张志超   男   55  people
1898     李楚源   男   52  people
1899     黄建军   男   54  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
1900     潘建清   男   55  people
1901     李立群   男   58  people
1902     夏闻迪   男   52  people
1903     李德禄   男   54  people
1904     高兵华   男   47  people
...      ...  ..  ...     ...
1995     尹成国   男   53  people
1996     张延红   女   48  people
1997     何中辉   男   55  people
1998     祝瑞荣   男   51  people
1999      康山   男   55  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2000     陈新生   男   48  people
2001     熊维明   男   57  people
2002     瞿元庆   男   51  people
2003     徐卫晖   男   48  people
2004     孙飘扬   男   60  people
...      ...  ..  ...     ...
2095      李涛   男   39  people
2096     李俊喜   男   53  people
2097     倪伟勇   男   52  people
2098      钱栋   男   54  people
2099     兰华升   男   47  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2100     陈达彬   男   61  people
2101      沈雯   男   60  people
2102      高松   男   53  people
2103     林俊波   女   47  people
2104      郭辉   男   48  people
...      ...  ..  ...     ...
2195     陶永泽   男   55  people
2196     张勇峰   男   58  people
2197     何承命   男   58  people
2198     张建功   男   50  people
2199     周黎旸   男   50  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2200     马志方   男   47  people
2201      王军   男   54  people
2202     黄云晴   男   54  people
2203     李建雄   男   41  people
2204     黄文洲   男   53  people
...      ...  ..  ...     ...
2295      孙峰   男   55  people
2296      吴旭   男   56  people
2297      谢峰   男   51  people
2298     杨登瑞   男   62  people
2299     俞培俤   男   59  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2300     冷天晴   男   45  people
2301      焦平   男   61  people
2302     李国春   男   55  people
2303     张美华   男   55  people
2304      张新   男   56  people
...      ...  ..  ...     ...
2395     戴厚良   男   54  people
2396      马健   男   54  people
2397     付刚峰   男   52  people
2398     刘先福   男   54  people
2399     吴新华   男   51  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2400     向文波   男   56  people
2401     杨明辉   男   54  people
2402     谭万庚   男   54  people
2403     凌逸群   男   55  people
2404     赵建国   男   60  people
...      ...  ..  ...     ...
2495     殷延超   男   52  people
2496     雷凤莲   女   57  people
2497      胡浩   男   49  people
2498     张吕峥   男   47  people
2499     王建新   男   50  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2500     王立群   男   56  people
2501     茅庆江   男   54  people
2502     陈祥楼   男   49  people
2503     张新明   男   56  people
2504     姜维利   男   53  people
...      ...  ..  ...     ...
2595     马焕政   男   53  people
2596      吴限   男   50  people
2597      邝青   男   54  people
2598     张金山   男   55  people
2599     贺增林   男   47  people

[100 rows x 4 columns]

     name:ID sex  age  :LABEL
2600      宋勇   男   55  people
2601     吴学民   男   55  people
2602     邹支农   男   50  people
2603     林建伟   男   52  people
2604     徐德勇   男   41  people
...      ...  ..  ...     ...
2695     万国江   男   54  people
2696     周红卫   男   51  people
2697     罗建文   男   70  people
2698     杨震华   男   58  people
2699      樊志   男   56  people

[100 rows x 4 columns]
        name:ID sex  age  :LABEL
2700        邵秀英   女   46  people
2701        赵云文   男   63  people
2702  Hollis Li   男   55  people
2703        左海波   男   44  people
2704         姚宁   男   50  people
...         ...  ..  ...     ...
2795         胡霞   女   54  people
2796        严学文   男   38  people
2797        张昌楠   男   46  people
2798        孙伟龙   男   50  people
2799         鲍蕾   女   38  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2800      顾群   男   48  people
2801     胡东群   男   52  people
2802     章文藻   男   61  people
2803     朱汉平   男   55  people
2804      马焰   男   51  people
...      ...  ..  ...     ...
2895      史晶   女   31  people
2896     施水才   男   52  people
2897      黄锋   男   48  people
2898     侯若洪   男   53  people
2899     朱军红   男   51  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
2900      潘恺   男   35  people
2901     秘波海   男   64  people
2902      刘强   男   49  people
2903     黄明松   男   47  people
2904     谭颂斌   男   47  people
...      ...  ..  ...     ...
2995     钟百胜   男   53  people
2996     廖定海   男   55  people
2997      张林   男   31  people
2998     戚大广   男   65  people
2999     许文显   男   41  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3000     郭景松   男   56  people
3001     王政福   男   52  people
3002     付玉霞   女   48  people
3003     段乃琦   女   52  people
3004    欧阳业恒   男   48  people
...      ...  ..  ...     ...
3095     钟勇斌   男   51  people
3096      江汉   男   47  people
3097     张福林   男   53  people
3098     唐步云   男   65  people
3099     应小勇   男   42  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3100     洪家新   男   63  people
3101     宋君恩   男   46  people
3102     李跃先   男   55  people
3103     蒋仁生   男   65  people
3104     王文博   男   35  people
...      ...  ..  ...     ...
3195     王万春   男   41  people
3196     孙新军   男   48  people
3197     朱永民   男   46  people
3198      陈博   男   50  people
3199     徐长进   男   45  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3200     李建林   男   62  people
3201     申万秋   男   48  people
3202     郭留希   男   55  people
3203      冯毅   男   53  people
3204     陈添旭   男   56  people
...      ...  ..  ...     ...
3295      万峰   男   49  people
3296     顾庆伟   男   46  people
3297     池燕明   男   52  people
3298     宋礼华   男   61  people
3299      刘楠   男   58  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3300      李力   男   53  people
3301     刘建华   男   44  people
3302      曾卓   男   38  people
3303      陈砚   男   45  people
3304     侯文奇   男   48  people
...      ...  ..  ...     ...
3395      李希   男   50  people
3396     张光柳   男   56  people
3397     颜泽松   男   48  people
3398     李尔龙   男   43  people
3399     孙龙龙   男   45  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3400     靳庆军   男   61  people
3401      王健   男   54  people
3402     王航军   男   52  people
3403     陈新民   男   52  people
3404     肖俊承   男   52  people
...      ...  ..  ...     ...
3495      林斌   男   32  people
3496     杨志杰   男   50  people
3497     蒋光勇   男   47  people
3498     邱九辉   男   49  people
3499      李刚   男   44  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3500     时沈祥   男   55  people
3501     程上楠   男   71  people
3502      冯滨   男   54  people
3503     任思龙   男   56  people
3504     郭建刚   男   52  people
...      ...  ..  ...     ...
3595     朱烨东   男   50  people
3596     谢冠宏   男   56  people
3597     李志江   男   61  people
3598     王俊民   男   50  people
3599      王晖   女   47  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3600     何亚民   男   61  people
3601      杨振   男   56  people
3602      沈飒   女   45  people
3603      郝军   男   46  people
3604     范秀莲   女   55  people
...      ...  ..  ...     ...
3695     曾芳勤   女   53  people
3696     徐国群   男   56  people
3697      周晖   男   40  people
3698      窦刚   男   38  people
3699     孔令军   男   50  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3700     吴相君   男   43  people
3701     王一锋   男   34  people
3702     谭瑞清   男   52  people
3703     陈国狮   男   40  people
3704     贾春琳   男   45  people
...      ...  ..  ...     ...
3795     朱丽霞   女   37  people
3796     梁桂添   男   52  people
3797      赵刚   男   53  people
3798     祝恩福   男   56  people
3799     陈俊海   男   54  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3800     孙洁晓   男   51  people
3801      胡敏   男   58  people
3802     韩方如   女   54  people
3803     韩玉辉   男   54  people
3804     叶远璋   男   54  people
...      ...  ..  ...     ...
3895      郑戎   女   65  people
3896     仲汉根   男   54  people
3897     林平涛   男   69  people
3898     贺国英   男   69  people
3899     王青运   女   66  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
3900     颜永庆   男   53  people
3901     张立刚   男   43  people
3902      高欣   男   54  people
3903     陈晓东   男   52  people
3904     许巧婵   女   68  people
...      ...  ..  ...     ...
3995     朱吉满   男   54  people
3996     邱醒亚   男   49  people
3997     郁霞秋   女   55  people
3998     黄河清   男   56  people
3999     柯树泉   男   70  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4000     阮加春   男   55  people
4001      齐舰   男   58  people
4002     张逸芳   女   55  people
4003     王东绪   男   55  people
4004      陈岚   女   48  people
...      ...  ..  ...     ...
4095     邵根伙   男   53  people
4096     牛俊高   男   55  people
4097     黄南章   男   54  people
4098      李湘   男   55  people
4099     胡梅晓   男   44  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4100      闻明   男   43  people
4101     张德强   男   46  people
4102     张立忠   男   44  people
4103     袁永刚   男   39  people
4104     刘文静   女   47  people
...      ...  ..  ...     ...
4195     汪培毅   男   65  people
4196     何人宝   男   53  people
4197      刘望   男   31  people
4198      周文   男   53  people
4199     唐继勇   男   50  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4200     周方洁   男   54  people
4201     曹家富   男   66  people
4202      林健   男   52  people
4203     周宇斌   男   34  people
4204     李郑周   男   45  people
...      ...  ..  ...     ...
4295     金志国   男   62  people
4296     黄飞刚   男   49  people
4297     孙彭生   男   60  people
4298     张忠革   男   54  people
4299     简伟文   男   56  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4300     江昌政   男   64  people
4301     余永清   男   51  people
4302     董绍杰   男   54  people
4303     郭建生   男   48  people
4304     黄剑鹏   男   49  people
...      ...  ..  ...     ...
4395     邵长南   男   56  people
4396     钱自强   男   33  people
4397     王海波   男   44  people
4398      缪振   男   68  people
4399     杨槐璋   男   60  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4400      王皓   男   30  people
4401     陈泳洪   男   63  people
4402     曾胜强   男   55  people
4403      张敏   男   57  people
4404     陈于冰   男   41  people
...      ...  ..  ...     ...
4495     武永强   男   53  people
4496     袁金钰   男   62  people
4497     陈亚妹   女   43  people
4498     叶子瑜   男   55  people
4499     李建辉   男   46  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4500     王月红   女   49  people
4501     程志堂   男   58  people
4502     崔从权   男   52  people
4503     陈书勤   男   54  people
4504     彭干泉   男   46  people
...      ...  ..  ...     ...
4595     陈学华   男   43  people
4596     杨江红   女   47  people
4597     谭秋斌   女   55  people
4598     叶留金   男   53  people
4599      徐磊   男   35  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4600      鹿超   男   47  people
4601     陶国定   男   55  people
4602      车轼   男   58  people
4603     陈爱莲   女   60  people
4604     孙日贵   男   63  people
...      ...  ..  ...     ...
4695     郑栩栩   男   45  people
4696     何蕴韶   男   65  people
4697     吴翠玲   女   57  people
4698     周少雄   男   53  people
4699     董增平   男   48  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4700     江南春   男   46  people
4701     杨明燕   女   41  people
4702     张兆勇   男   53  people
4703     张近东   男   55  people
4704      李飚   男   47  people
...      ...  ..  ...     ...
4795      李凌   男   53  people
4796     李军风   男   52  people
4797     王保玉   男   58  people
4798      马刚   男   39  people
4799      杨勤   男   52  people

[100 rows x 4 columns]

     name:ID sex  age  :LABEL
4800     周广林   男   56  people
4801     李邦良   男   72  people
4802     李春光   男   50  people
4803     陈锦石   男   56  people
4804     周武平   男   52  people
...      ...  ..  ...     ...
4895     揭小健   男   53  people
4896     王义栋   男   50  people
4897     丁建国   男   43  people
4898     吴岩松   男   47  people
4899     代云辉   女   54  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
4900     杨华锋   男   44  people
4901     韩广荣   男   56  people
4902     刘玉新   男   50  people
4903      杨林   男   46  people
4904      李镇   男   48  people
...      ...  ..  ...     ...
4995     莫翊斌   男   50  people
4996     王永志   男   52  people
4997     周世荣   男   49  people
4998     吴智勇   男   41  people
4999     彭东升   男   56  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
5000     蔡卫东   男   49  people
5001      贾浚   男   48  people
5002     许仕清   男   54  people
5003      张湧   男   51  people
5004     袁汉源   男   56  people
...      ...  ..  ...     ...
5095     林阿头   男   54  people
5096     王承波   男   54  people
5097     谭昌彬   男   45  people
5098     于恩沅   男   55  people
5099     何春梅   女   49  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
5100     祝方猛   男   46  people
5101      张姿   女   48  people
5102     李堂锁   男   51  people
5103     蒋灿明   男   49  people
5104     王峥强   男   52  people
...      ...  ..  ...     ...
5195     季长彬   男   48  people
5196     赵立仁   男   46  people
5197     邹文彬   男   54  people
5198     胡瀚阳   男   35  people
5199     吴斯远   男   54  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
5200     王俊伟   男   41  people
5201     杜善津   男   63  people
5202      张雷   男   55  people
5203      孙健   男   41  people
5204     熊贵成   男   44  people
...      ...  ..  ...     ...
5295     潘春霓   女   29  people
5296      王伟   男   47  people
5297      解斌   男   40  people
5298      杨宁   男   48  people
5299      董悦   男   46  people

[100 rows x 4 columns]
          name:ID sex  age  :LABEL
5300           江波   男   45  people
5301          马江河   男   53  people
5302          陈来泉   男   59  people
5303          米大斌   男   50  people
5304          柴永森   男   55  people
...           ...  ..  ...     ...
5395          朱宜存   男   57  people
5396           何勇   男   58  people
5397  Peter Fleet   男   51  people
5398          陈小松   男   55  people
5399           王勇   男   48  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
5400      赵辉   男   44  people
5401     彭安铮   女   54  people
5402     丁青海   男   54  people
5403     施大福   男   56  people
5404     庄坚毅   男   67  people
...      ...  ..  ...     ...
5495     尹小峰   男   44  people
5496     金东杰   男   45  people
5497     周拥泽   男   55  people
5498      刘浩   男   46  people
5499     陆剑峰   男   45  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
5500      余政   男   58  people
5501     卓逸群   男   45  people
5502     武吉伟   男   47  people
5503     姜巨舫   男   56  people
5504      赵彪   男   54  people
...      ...  ..  ...     ...
5595     周宇斌   男   34  people
5596     卢志强   男   66  people
5597      朱军   男   55  people
5598     石正林   男   50  people
5599     姚日波   男   50  people

[100 rows x 4 columns]
     name:ID sex  age  :LABEL
5600     朱胜利   男   48  people
5601      王宏   男   56  people
5602     季圣智   男   32  people
5603     陈创新   男   51  people
5604     李明海   男   52  people
5605     朱梅柱   男   54  people
5606     钟宏伟   男   51  people
5607     谭华森   男   56  people
5608     柏志伟   女   36  people
5609     王宇航   男   57  people
5610      郝亮   男   47  people
5611     李新威   男   53  people
5612     董炳根   男   69  people
5613     李中秋   男   56  people
5614     郑煜曦   男   56  people
5615      陈略   男   48  people
5616     刘凤喜   男   46  people
5617     宿南南   女   34  people
5618     李雪燕   女   44  people
5619     李洪生   男   55  people
5620      丁跃   男   59  people
5621     张光柳   男   56  people
5622     颜泽松   男   48  people
5623     李尔龙   男   43  people
5624     靳庆军   男   61  people
5625      马骧   男   53  people
5626      陈勇   男   48  people
5627     厉怒江   男   57  people
5628      陈琳   女   46  people
5629     刘声向   男   47  people
5630      李中   男   54  people
5631     陈政立   男   58  people
5632     王志全   男   55  people
5633      温毅   男   56  people
5634     阮克竖   男   52  people
5635      王健   男   54  people
5636     王航军   男   52  people
5637     李德友   男   42  people
5638     陈泰泉   男   55  people
5639      钟岩   男   43  people
5640     赵宏伟   男   50  people
5641      丁芃   女   67  people
5642     李林琳   女   34  people
5643     马钟鸿   男   45  people
5644      郁亮   男   53  people
5645     朱新宏   男   58  people
5646      江津   女   55  people
5647     徐文苏   男   41  people
5648     刘志平   女   55  people
5649     林茂德   男   62  people

### NumPy
- NumPy其实就是一个多维的数组(列表、list)对象  [1,2,3,4,5]

## 如果你是独立安装的Python那么你需要安装NumPy     
- 命令行安装：pip install numpy
- Jupyter内安装  !pip install numpy
## 如果你是Anaconda，那么不需要安装就可以使用

In [48]:
import numpy as np
data = [1,2,3,4]
n = np.array(data * 10 )
n

array([1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2,
       3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4])

In [47]:
data = [1,2,3,4]
data

[1, 2, 3, 4]

In [49]:
# 观察n的形状
n.shape

(40,)

In [51]:
arr = [[1,2,3,4],[5,6,7,8]]
arr

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [52]:
arr2 = np.array(arr)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [53]:
arr2.shape

(2, 4)

In [54]:
arr2.ndim

2

In [56]:
arr = [
    [
        [1,2],
        [3,4]],
       
       [
        [5,6],
        [7,8]]
]
arr3 = np.array(arr)
arr3

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [57]:
arr3.ndim

3

In [58]:
arr3.shape

(2, 2, 2)

### NumPy对数据类型进行合理推断

In [61]:
arr = [["a","2",3,4],[5,6,7,8]]
arr2 = np.array(arr)
arr2

array([['a', '2', '3', '4'],
       ['5', '6', '7', '8']], dtype='<U1')

In [62]:
arr = [[1.2,3,4,5],[5,6,7,8]]
arr2 = np.array(arr)
arr2

array([[1.2, 3. , 4. , 5. ],
       [5. , 6. , 7. , 8. ]])

### numpy创建指定长度的数组

In [63]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [64]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [66]:
np.empty((2,3,4))

array([[[0.00000000e+000, 0.00000000e+000, 2.41907520e-312,
         2.14321575e-312],
        [2.46151512e-312, 2.31297541e-312, 2.35541533e-312,
         2.05833592e-312],
        [2.22809558e-312, 2.56761491e-312, 2.48273508e-312,
         2.05833592e-312]],

       [[2.05833592e-312, 2.29175545e-312, 2.07955588e-312,
         2.14321575e-312],
        [0.00000000e+000, 0.00000000e+000, 0.00000000e+000,
         0.00000000e+000],
        [2.47032823e-323, 2.14321575e-312, 0.00000000e+000,
         0.00000000e+000]]])

In [67]:
### range(10)
### arange

In [69]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [70]:
### 类型转换
arr = np.array([1.2,1.4,1.8,-4.5,-7.5])
arr

array([ 1.2,  1.4,  1.8, -4.5, -7.5])

In [72]:
arr.astype(np.int64)

array([ 1,  1,  1, -4, -7])

## 矢量化
### 在不用编写循环的情况下就可以进行批量运行，这就叫矢量化

In [73]:
arr1 = [1,2,3,4]
arr2 = [5,6,7,8]
arr1 + arr2

[1, 2, 3, 4, 5, 6, 7, 8]

In [81]:
arr1 = np.array([1,2,3,4])
arr2 = np.array([5,6,7,8])
arr1 + arr2

array([ 6,  8, 10, 12])

In [75]:
arr1 - arr2

array([-4, -4, -4, -4])

In [76]:
arr1 * arr2

array([ 5, 12, 21, 32])

In [77]:
arr1 * 5

array([ 5, 10, 15, 20])

In [82]:
arr1 / arr2

array([0.2       , 0.33333333, 0.42857143, 0.5       ])

## 切片操作

In [83]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [84]:
arr[4]

4

In [85]:
arr[3:]

array([3, 4, 5, 6, 7, 8, 9])

In [86]:
arr[1:3] = 11

In [87]:
arr

array([ 0, 11, 11,  3,  4,  5,  6,  7,  8,  9])

In [89]:
arr1 = np.array([[1,2,3,4],[5,6,7,8]])
arr1

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [90]:
arr1[1][1]

6

In [91]:
names = np.array(["HanMeiMei","LiLei","Tony","Jack"])
names == "HanMeiMei"

array([ True, False, False, False])

In [93]:
(names == "HanMeiMei")  &  (names == "Tony")

array([False, False, False, False])

In [ ]:
#  &  对应Python中的 and
#  |  对应Python中的 or

In [94]:
(names == "HanMeiMei")  |  (names == "Tony")

array([ True, False,  True, False])

### 花式索引  Fancy Indexing 
- 这是NumPy中的一个术语 ， 指的是利用整数数组进行索引

In [100]:
arr = np.empty((8,4))
for i in range(8):
    arr[i] = i
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [101]:
arr[[4,3,0,6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

In [103]:
arr = np.arange(32).reshape((8,4))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

In [104]:
arr[[1,5,7,2]]

array([[ 4,  5,  6,  7],
       [20, 21, 22, 23],
       [28, 29, 30, 31],
       [ 8,  9, 10, 11]])

In [105]:
arr[[1,5,7,2],[0,3,1,2]]

array([ 4, 23, 29, 10])

In [106]:
arr = np.arange(15).reshape((3,5))
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [107]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

In [108]:
arr.transpose()

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])

# NumPy降维操作

In [109]:
arr = np.array([[1,10,100],[2,20,200],[3,30,300]])
arr

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300]])

In [141]:
data = arr.ravel()

In [124]:
data

array([  1,  10, 100,   2,  20, 200,   3,  30, 300])

In [117]:
arr

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300]])

In [118]:
arr.reshape(-1)

array([  1,  10, 100,   2,  20, 200,   3,  30, 300])

In [119]:
arr

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300]])

In [120]:
arr.flatten()

array([  1,  10, 100,   2,  20, 200,   3,  30, 300])

In [121]:
arr

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300]])

In [127]:
### 改变排序模式的降维操作
arr.ravel(order="F")

array([  1,   2,   3,  10,  20,  30, 100, 200, 300])

In [128]:
arr.reshape(-1,order="F")

array([  1,   2,   3,  10,  20,  30, 100, 200, 300])

In [129]:
arr.flatten(order="F")

array([  1,   2,   3,  10,  20,  30, 100, 200, 300])

In [131]:
arr.flatten()[0] = 2000

In [132]:
arr

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300]])

In [133]:
arr.ravel()[1]=1000

In [134]:
arr

array([[   1, 1000,  100],
       [   2,   20,  200],
       [   3,   30,  300]])

In [135]:
arr.reshape(-1)[2]=3000

In [136]:
arr

array([[   1, 1000, 3000],
       [   2,   20,  200],
       [   3,   30,  300]])

In [138]:
arr.ravel()

array([   1, 1000, 3000,    2,   20,  200,    3,   30,  300])

In [143]:
arr.ravel()[6]

3

In [140]:
arr

array([[   1, 1000, 3000],
       [   2,   20,  200],
       [   3,   30,  300]])

## NumPy堆叠的操作

In [153]:
arr1 = np.array([[1,10,100],[2,20,200],[3,30,300]])
arr2 = np.array([1,2,3])
arr1

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300]])

In [150]:
arr2

array([1, 2, 3])

In [147]:
### 纵向堆叠
np.vstack([arr1,arr2])

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300],
       [  1,   2,   3]])

In [151]:
np.row_stack([arr1,arr2])

array([[  1,  10, 100],
       [  2,  20, 200],
       [  3,  30, 300],
       [  1,   2,   3]])

In [156]:
arr3 = np.array([[5],[6],[7]])
### 横向堆叠
np.hstack([arr1,arr3])

array([[  1,  10, 100,   5],
       [  2,  20, 200,   6],
       [  3,  30, 300,   7]])

In [157]:
np.column_stack([arr1,arr3])

array([[  1,  10, 100,   5],
       [  2,  20, 200,   6],
       [  3,  30, 300,   7]])

### 广播运算

In [158]:
arr1 = np.arange(12).reshape(3,4)
arr2 = np.arange(101,113).reshape(3,4)
arr1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [159]:
arr2

array([[101, 102, 103, 104],
       [105, 106, 107, 108],
       [109, 110, 111, 112]])

In [160]:
arr1 + arr2

array([[101, 103, 105, 107],
       [109, 111, 113, 115],
       [117, 119, 121, 123]])

In [ ]:
#### 对应位置相加不叫广播运算

In [161]:
#  从后边开始数，维度是一致的，都是4 * 3
arr1 = np.arange(60).reshape(5,4,3)
arr2 = np.arange(12).reshape(4,3)
arr1

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17],
        [18, 19, 20],
        [21, 22, 23]],

       [[24, 25, 26],
        [27, 28, 29],
        [30, 31, 32],
        [33, 34, 35]],

       [[36, 37, 38],
        [39, 40, 41],
        [42, 43, 44],
        [45, 46, 47]],

       [[48, 49, 50],
        [51, 52, 53],
        [54, 55, 56],
        [57, 58, 59]]])

In [162]:
arr2

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [163]:
arr1 + arr2

array([[[ 0,  2,  4],
        [ 6,  8, 10],
        [12, 14, 16],
        [18, 20, 22]],

       [[12, 14, 16],
        [18, 20, 22],
        [24, 26, 28],
        [30, 32, 34]],

       [[24, 26, 28],
        [30, 32, 34],
        [36, 38, 40],
        [42, 44, 46]],

       [[36, 38, 40],
        [42, 44, 46],
        [48, 50, 52],
        [54, 56, 58]],

       [[48, 50, 52],
        [54, 56, 58],
        [60, 62, 64],
        [66, 68, 70]]])

In [164]:
arr1 = np.arange(60).reshape(5,4,3)
arr2 = np.arange(4).reshape(4,1)
arr1

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11]],

       [[12, 13, 14],
        [15, 16, 17],
        [18, 19, 20],
        [21, 22, 23]],

       [[24, 25, 26],
        [27, 28, 29],
        [30, 31, 32],
        [33, 34, 35]],

       [[36, 37, 38],
        [39, 40, 41],
        [42, 43, 44],
        [45, 46, 47]],

       [[48, 49, 50],
        [51, 52, 53],
        [54, 55, 56],
        [57, 58, 59]]])

In [165]:
arr2

array([[0],
       [1],
       [2],
       [3]])

In [166]:
arr1 + arr2

array([[[ 0,  1,  2],
        [ 4,  5,  6],
        [ 8,  9, 10],
        [12, 13, 14]],

       [[12, 13, 14],
        [16, 17, 18],
        [20, 21, 22],
        [24, 25, 26]],

       [[24, 25, 26],
        [28, 29, 30],
        [32, 33, 34],
        [36, 37, 38]],

       [[36, 37, 38],
        [40, 41, 42],
        [44, 45, 46],
        [48, 49, 50]],

       [[48, 49, 50],
        [52, 53, 54],
        [56, 57, 58],
        [60, 61, 62]]])

In [167]:
arr1 = np.arange(12).reshape(4,3)
arr2 = np.array([1,2,3])
arr1

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [168]:
arr2

array([1, 2, 3])

In [169]:
arr1 + arr2

array([[ 1,  3,  5],
       [ 4,  6,  8],
       [ 7,  9, 11],
       [10, 12, 14]])